<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/static/new.css">
  <body>
      <main>
        <div>
          <form action="/drinks" method="POST">
            <fieldset>
              <legend>New Drink</legend>

              <label>
                NAME: <input type="text" name="name" placeholder="enter a drink name" />
              </label>
              <label>
                IMAGE: <input type="img" name="image" placeholder="image link here" />
              </label>
              <label>
                TYPE: <input type="text" name="type" placeholder="enter beverage type" />
              </label>
              <label>
                ABV: <input type="text" name="abv" placeholder="enter abv" />
              </label>
              <label>
                DESCRIPTION: <input type="text" name="desc" placeholder="enter description" />
              </label>
              </fieldset>

            <input type="submit" value="New Drink" />
          </form>

        </div>
      </main>
  </body>

</html>