<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/skeleton.css">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Page</title>
</head>

<body>
  <main>
    <div>
      <article>
        <h1>
          Drink: <%= name %>
        </h1>
        <h3></h3>
        <img src="<%=img %>" alt="" />
        <h3>
          Type: <%= type %>
        </h3>
        <h3>
          Description: <%= desc %>
        </h3>
        <a href="/drinks">
          <button>Edit</button>
        </a><br>
        <a href="/drinks">
          <button>Delete</button>
          </form><br>
          <a href="/drinks">
            <button>Back</button><br>
          </a>
      </article>

    </div>
  </main>
</body>

</html>